@using Microsoft.AspNet.Identity
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2>Index</h2>
        Hello @(User.Identity.Name).

    </div>
</body>
</html>
